<!-- Form to add new sighting post -->
{{#if username}}
    <div id="new-post" class="uk-flex-top uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
            <h2 class="uk-modal-title">New Whale Sighting</h2>
            <form>
                <div class="uk-margin">
                    <select id="new-post-whale" class="uk-select">
                        <option value="">Select the type of whale seen</option>
                        <option value="1">Gray Whale</option>
                        <option value="2">Humpback Whale</option>
                        <option value="3">Minke Whale</option>
                        <option value="4">Orca Whale</option>
                        <option value="5">Uncertain</option>
                        <option value="6">Other</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <select id="new-post-city" class="uk-select">
                        <option value="">Select a nearby location</option>
                        <option value="1">Anacortes</option>
                        <option value="2">Bainbridge Island</option>
                        <option value="3">Bellingham</option>
                        <option value="4">Birch Bay</option>
                        <option value="5">Blaine</option>
                        <option value="6">Bremerton</option>
                        <option value="7">Des Moines</option>
                        <option value="8">Edmonds</option>
                        <option value="9">Everett</option>
                        <option value="10">Friday Harbor</option>
                        <option value="11">Gig Harbor</option>
                        <option value="12">Kingston</option>
                        <option value="13">Lime Kiln Point State Park</option>
                        <option value="14">Lopez Island</option>
                        <option value="15">Mukilteo</option>
                        <option value="16">Orcas Island</option>
                        <option value="17">Port Townsend</option>
                        <option value="18">Roche Harbor</option>
                        <option value="19">Seattle</option>
                        <option value="20">Tacoma</option>
                        <option value="21">Other</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <textarea id="new-post-description" class="uk-textarea" placeholder="Description of the event"></textarea>
                </div>
                <div class="uk-margin">Click on the specific location you saw the whale
                    <div id='map' style='width: 400px; height: 300px;'></div>
                </div>
            </form>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="submit-post-btn" class="uk-button uk-button-primary" type="button">Save</button>
            </div>
        </div>
    </div>
{{else}}
    <div id="new-post" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
            <h2 class="uk-modal-title">Please log in and try again.</h2> 
        </div>
    </div>
{{/if}}

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ2lybWFkIiwiYSI6ImNraXFnNGFiNjFjaWIzOG84aGpvd2xtOGIifQ.7CC9ym81Xt2gfUcxbB2Lkg';
    let map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-122.4, 47.6], // starting position
        zoom: 9 // starting zoom
    });

    map.on('click', function (e) {
        console.log(e.lngLat.wrap().lat)
        console.log(e.lngLat.wrap().lng)
        document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the mousemove event relative
        // to the top-left corner of the map
        JSON.stringify(e.point) +
        '<br />' +
        // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(e.lngLat.wrap());
    });
</script> 

