<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>PNW Whales</title>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/index.js"></script>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
