<!-- Nav bar -->
<nav class="uk-navbar-container" uk-navbar>
    <!-- Lefthand links -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Home</a></li>
            <li class="uk-parent"><a href="/sightings">Historical Sightings</a></li>
            <li class="uk-parent"><a href="/resources">Find Out More</a></li>
        </ul>
    </div>
    <!-- Center logo -->
    <div class="uk-navbar-center">
        <a href="/" class="uk-navbar-item uk-logo">PNW Whales</a>
    </div>
    <!-- Righthand links -->
    <div class="uk-navbar-right">
        <ul class="uk-breadcrumb">
            <li class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
            <li class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
            <!-- If logged in -->
            <li class="uk-parent"><a href="">Manage Account</a></li>
            <li class="uk-parent"><a href="">Log Out</a></li>
        </ul>
    </div>
</nav>

{{> modals/login-block}}
{{> modals/signup-block}}

<h1 class="uk-text-center">Welcome {{userName}}!</h1>
<hr class="uk-divider-icon">
<div class="uk-container">
    <div uk-slideshow>
        <ul class="uk-slideshow-items">
            <li>
                <img src="/images/background/orcas-bk.jpg" alt="Orcas" uk-cover>
            </li>
            <li>
                <img src="/images/background/gray-whale-bk.jpg" alt="Gray whale" uk-cover>
            </li>
            <li>
                <img src="/images/background/orca-fam-bk.jpg" alt="Orca family" uk-cover>
            </li>
            <li>
                <img src="/images/background/humpback-bk.jpeg" alt="Humpback whales" uk-cover>
            </li>
            <li>
                <img src="/images/background/orca-water-bk.jpg" alt="Orcas" uk-cover>
            </li>
        </ul>
    </div>
    <a href="/resources">Find Out More</a>
    <a href="/sightings">View Historical Sightings</a>
</div>