<!-- Nav bar -->
<nav class="uk-navbar-container" uk-navbar>
    <!-- Lefthand links -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/"><span uk-icon="home"></span></a></li>
            <li class="uk-parent"><a href="/sightings">Historical Sightings</a></li>
            <li class="uk-parent"><a href="/resources">Find Out More</a></li>
        </ul>
    </div>
    <!-- Center logo -->
    <div class="uk-navbar-center">
        <a href="/" class="uk-navbar-item uk-logo">PNW Whales</a>
    </div>
    <!-- Righthand links -->
    <div class="uk-navbar-right">
        <ul class="uk-breadcrumb">
            <li id="login" class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
            <li id="signup" class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
        </ul>
        <ul class="uk-breadcrumb">
            <!-- If logged in -->
            <li id="manage" class="uk-parent"><a href="">Manage Account</a></li>
            <li id="logout" class="uk-parent"><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

{{> modals/login-block}}
{{> modals/signup-block}}

<h1 class="uk-text-center">Welcome {{userName}}!</h1>
<hr class="uk-divider-icon">

<div class="uk-cover-container">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: false; autoplay: true; autoplay-interval: 4000">
        <ul class="uk-slideshow-items" uk-height-viewport="expand: true; min-height: 500">
            <li>
                <img class="ss-pic" src="/images/background/orcas-bk.jpg" alt="Orcas">
            </li>
            <li>
                <img class="ss-pic" src="/images/background/gray-whale-bk.jpg" alt="Gray whale">
            </li>
            <li>
                <img class="ss-pic" src="/images/background/orca-fam-bk.jpg" alt="Orca family">
            </li>
            <li>
                <img class="ss-pic" src="/images/background/humpback-bk.jpeg" alt="Humpback whales">
            </li>
            <li>
                <img class="ss-pic" src="/images/background/orca-water-bk.jpg" alt="Orca surfacing">
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>
<div uk-grid>
    <div class="uk-card uk-card-hover uk-card-body uk-card-small uk-card-secondary uk-width-1-2">
        <h3 class="uk-card-title"><a href="/resources">Find Out More</a></h3>
    </div>
    <div class="uk-card uk-card-hover uk-card-body uk-card-secondary uk-width-1-2">
        <h3 class="uk-card-title"><a href="/sightings">View Historical Sightings</a></h3>
    </div>
</div>
