{{!-- Nav bar --}}
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar uk-navbar-container" uk-navbar>
        {{!-- Lefthand menu --}}
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-toggle="target: #menu" uk-navbar-toggle-icon href="#"></a>
            <div id="menu" uk-offcanvas>
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav uk-nav-default">
                        <li class="nav-title uk-active"><a href="/">Home</a></li>
                        <li class="nav-title uk-parent"><a href="/sightings">Sightings</a></li>
                        <li class="nav-title uk-parent"><a href="/resources">Local Resources</a></li>
                    </ul>               
                </div>
            </div>
        </div>
        {{!-- Center logo --}}
        <div class="uk-navbar-center">
            <div class="title uk-navbar-item uk-logo">PNW Whales</div>
        </div>
        {{!-- Righthand links --}}
        <div class="uk-navbar-right">
            <ul class="uk-breadcrumb">
                <li id="login" class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
                <li id="signup" class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
            </ul>
            <ul class="uk-breadcrumb">
                {{!-- If logged in --}}
                <li id="logout" class="uk-parent"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
</div>

{{> modals/login-block}}
{{> modals/signup-block}}

<div class="uk-cover-container">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: fade; ratio: 1600:1200; autoplay: true; autoplay-interval: 4000">
        <ul class="uk-slideshow-items">
            <li>
                <img class="ss-pic" src="https://images.pexels.com/photos/289324/pexels-photo-289324.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Orcas">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Welcome Whale Enthusiasts!</h3>
                </div>            
            </li>
            <li>
                <img class="ss-pic" src="https://images.pexels.com/photos/3329230/pexels-photo-3329230.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Gray whale">
                <div class="uk-overlay uk-overlay-primary uk-position-left uk-text-center uk-transition-slide-left uk-width-medium">
                    <h3 class="uk-margin-remove"><a href="/sightings">Sightings</a></h3>
                    <p class="uk-margin-remove">Find out if our magestic whale populations are your area from users just like you!</p>
                </div>
            </li>
            <li>
                <img class="ss-pic" src="https://images.pexels.com/photos/3695720/pexels-photo-3695720.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Orca family">
                <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-center uk-transition-slide-right uk-width-medium">
                    <h3 class="uk-margin-remove"><a href="/resources">Local Resources</a></h3>
                    <p class="uk-margin-remove">Learn more about local groups who are doing their part to help the whale population and environment. See what you can do to help!</p>
                </div>
            </li>
            <li>
                <img class="ss-pic" src="https://images.pexels.com/photos/51964/humpback-whale-natural-spectacle-nature-mammal-51964.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Humpback whales">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom uk-width-medium">
                    <h3 class="uk-margin-remove"><a href="/resources">Want to participate?</a></h3>
                    <p class="uk-margin-remove">Sign up to receive notifications of sightings in your area and, if you're one of the lucky ones, be able to post your own and share with others.</p>
                </div>
            </li>
            <li>
                <img class="ss-pic" src="https://images.pexels.com/photos/3309865/pexels-photo-3309865.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Orca surfacing">
            </li>
        </ul>
        <div class="uk-position-bottom-center uk-position-small">
            <ul class="uk-dotnav">
                <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                <li uk-slideshow-item="4"><a href="#">Item 5</a></li>
            </ul>
        </div>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>
