<div id="landing-header">
    <h1>Welcome to Whale Watching!</h1>
    <a href="/index" class="btn btn-lg btn-success">View All Spoted Whales</a>
</div>
    
<ul class="slideshow">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>