<!-- Nav bar -->
<nav class="uk-navbar-container" uk-navbar>
    <!-- Lefthand links -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/">Home</a></li>
            <li class="uk-parent"><a href="/sightings">Historical Sightings</a></li>
            <li class="uk-active"><a href="/resources">Find Out More</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <!-- Center logo -->
    <div class="uk-navbar-center">
        <a href="/" class="uk-navbar-item uk-logo">PNW Whales</a>
    </div>
    <!-- Righthand links -->
    <div class="uk-navbar-right">
        <ul class="uk-breadcrumb">
            <li class="uk-active"><a href="">Log In</a></li>
            <li class="uk-active"><a href="">Sign Up</a></li>
            <!-- If logged in -->
            <li class="uk-parent"><a href="">Manage Account</a></li>
            <li class="uk-parent"><a href="">Log Out</a></li>
        </ul>
    </div>
</nav>