<!-- Nav bar -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"> 
    <nav class="uk-navbar-container" uk-navbar>
        <!-- Lefthand menu -->
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-toggle="target: #menu" uk-navbar-toggle-icon href="#"></a>
            <div id="menu" uk-offcanvas>
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-parent"><a href="/">Home</a></li>
                        <li class="uk-parent"><a href="/sightings">Sightings</a></li>
                        <li class="uk-active"><a href="/resources">Local Resources</a></li>
                    </ul>               
                </div>
            </div>
        </div>
        <!-- Center logo -->
        <div class="uk-navbar-center">
            {{!-- <a href="/" class="uk-navbar-item uk-logo">PNW Whales</a> --}}
            <div class="title uk-navbar-item uk-logo">Local Resources</div>
        </div>
        <!-- Righthand links -->
        <div class="uk-navbar-right">
            <ul class="uk-breadcrumb">
                <li id="login" class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
                <li id="signup" class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
            </ul>
            <ul class="uk-breadcrumb">
                <!-- If logged in -->
                <li id="manage" class="uk-parent"><a href="">Manage Account</a></li>
                <li id="logout" class="uk-parent"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
</div>  

{{> modals/login-block}}
{{> modals/signup-block}}

<div class="wallpaper">
    {{!-- <h1 class="page-header header-text uk-text-center">Local Resources</h1>
    <hr class="uk-divider-icon"> --}}
    <div class="uk-container" uk-grid>
        {{!-- Be Whale Wise --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/be-whale-wise-logo.png" alt="Be Whale Wise Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://www.bewhalewise.org/" target="_blank"><span class="link" uk-icon="link"></span></a>Be Whale Wise</h3>
                    <p>Learn about local laws ...</p>
                </div>
            </div>
        </div>
        {{!-- Whale Museum --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/wm-logo-sm.png" alt="Whale Museum Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://whalemuseum.org/" target="_blank"><span class="link" uk-icon="link"></span></a>Whale Museum, Friday Harbor</h3>
                    <p>Lorem ipsum <a href="https://whalemuseum.org/collections/adopt-an-orca" target="_blank">Adopt an orca</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        {{!-- Orca Network --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/orca-network-logo.jpg" alt="Orca Network Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="http://www.orcanetwork.org/Main/" target="_blank"><span class="link" uk-icon="link"></span></a>Orca Network</h3>
                    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        {{!-- The Whale Trail --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/whale-trail-logo.jpg" alt="The Whale Trail Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://thewhaletrail.org/" target="_blank"><span class="link" uk-icon="link"></span></a>The Whale Trail</h3>
                    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        {{!-- Center for Whale Research --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/center-whale-research-logo.jpeg" alt="Center for Whale Research Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://www.whaleresearch.com/" target="_blank"><span class="link" uk-icon="link"></span></a>Center for Whale Research, Friday Harbor</h3>
                    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        {{!-- WA Dept of Fish and Wildlife --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/fish-wildlife-logo.jpg" alt="WA Deparment of Fish and Wildlife Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://wdfw.wa.gov/species-habitats/at-risk/species-recovery/orca" target="_blank"><span class="link" uk-icon="link"></span></a>Washington Department of Fish and Wildlife - Orca Conservation</h3>
                    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        {{!-- WA State Dept of Ecology --}}
        <div class="resource-card uk-card uk-card-default uk-card-hover uk-child-width-1-2@m" uk-grid>
            <div class="logo-div uk-card-media-top uk-cover-container">
                <img class="logo-img" src="/images/logos/dept-ecology-logo.png" alt="Department of Ecology WA State Logo">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a href="https://ecology.wa.gov/Water-Shorelines/Puget-Sound/Orca-task-force" target="_blank"><span class="link" uk-icon="link"></span></a>Department of Ecology, Washington State - Orca Task Force</h3>
                    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>