<!-- Nav bar -->
<nav class="uk-navbar-container" uk-navbar>
    <!-- Lefthand links -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/">Home</a></li>
            <li class="uk-active"><a href="/sightings">Historical Sightings</a></li>
            <li class="uk-parent"><a href="/resources">Find Out More</a></li>
        </ul>
    </div>
    <!-- Center logo -->
    <div class="uk-navbar-center">
        <a href="/" class="uk-navbar-item uk-logo">PNW Whales</a>
    </div>
    <!-- Righthand links -->
    <div class="uk-navbar-right">
        <ul class="uk-breadcrumb">
            <li class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
            <li class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
            <!-- If logged in -->
            <li class="uk-parent"><a href="">Manage Account</a></li>
            <li class="uk-parent"><a href="">Log Out</a></li>
        </ul>
    </div>
</nav>
<h1 class="uk-heading-divider uk-text-center">Historical Sightings
    <!-- Modal for new sighting post -->
    <!-- Button toggling the modal -->
    <button id="add-post-btn" uk-toggle="target: #new-post" class="uk-button uk-button-large" type="button">Add New Sighting</button>

    <!-- Form to add new sighting post -->
    <div id="new-post" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
            <h2 class="uk-modal-title">New Whale Sighting</h2>
            <form>
                <select id="new-post-city"class="uk-select">
                    <option>Bellingham</option>
                    <option>Bremerton</option>
                    <option>Edmonds</option>
                    <option>Seattle</option>
                </select>
                <textarea id="new-post-description" class="uk-textarea"></textarea>
                <button id="submit-post-btn" class="uk-button uk-button-default">Submit</button>
            </form>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
    </div>
</h1>
{{> modals/login-block}}
{{> modals/signup-block}}
<!-- drop down here for filters -->
{{!-- Sightings list --}}
<div>
    <ul class="uk=list uk-list-striped">
        {{#each sighting}}
            {{> sightings/sight-block}}
        {{/each}}
    </ul>
</div>