{{!-- Nav bar --}}
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        {{!-- Lefthand menu --}}
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-toggle="target: #menu" uk-navbar-toggle-icon href="#"></a>
            <div id="menu" uk-offcanvas>
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav uk-nav-default">
                        <li class="nav-title uk-parent"><a href="/">Home</a></li>
                        <li class="nav-title uk-active"><a href="/sightings">Sightings</a></li>
                        <li class="nav-title uk-parent"><a href="/resources">Local Resources</a></li>
                    </ul>               
                </div>
            </div>
        </div>
        {{!-- Center logo --}}
        <div class="uk-navbar-center">
            <div class="title uk-navbar-item uk-logo">Sightings</div>
        </div>
        {{!-- Righthand links --}}
        <div class="uk-navbar-right">
            <ul class="uk-breadcrumb">
                <li id="login" class="uk-active"><a href="#login-modal" uk-toggle>Log In</a></li>
                <li id="signup" class="uk-active"><a href="#signup-modal" uk-toggle>Sign Up</a></li>
            </ul>
            <ul class="uk-breadcrumb">
                {{!-- If logged in --}}
                <li id="logout" class="uk-parent"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        {{> modals/login-block}}
        {{> modals/signup-block}}
    </nav>
</div>

<div class="wallpaper wallpaper-sightings">
    {{!-- Modal for new sighting post --}}
    {{!-- Button toggling the modal --}}
    <button id="add-post-btn" uk-toggle="target: #new-post" class="uk-button uk-button-large" type="button">Add New Sighting</button>
    
    {{!-- New post modal popup --}}
    {{> sightings/new-post}}

    {{!-- Sightings list --}}
    <div class="uk-container uk-grid-row-large">
        {{#each sighting}}
            {{> sightings/sight-block}}
        {{/each}}
    </div>
</div>
