{{!-- Log In Modal --}}
<div id="login-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h2 class="uk-modal-title">Log In</h2>
        <form>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input id="login-username" class="uk-input" type="text" placeholder="Username">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input id="login-password" class="uk-input" type="password" placeholder="Password">
                </div>
            </div>
            <button id="login-btn" class="uk-button uk-button-primary">Submit</button>
        </form>
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div>
</div>